.mainbox{
    width: 480px;
    height: 100%;
    margin-left: 100px;
    margin-top: 20px;
}
.webTitle
{
    text-align:center;
    font-size: 30px;
    font-weight: bolder;
}
.webTitle:hover{
    color:rebeccapurple;
}
.webList{
    padding: auto;
}
.websites{
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
}
.websites:hover{
    color: lightsalmon;
}
.mainImg
{
    width: 480px;
    height: 300px;
    border-radius: 10px;
}

.rightbox{
    width: 480px;
    height: 300px;
    margin-left: 800px;
    margin-top: -340px;
}

.rightTitle
{
    text-align:center;
    font-size: 30px;
    font-weight: bolder;
}

.rightTitle:hover
{
    color:royalblue;
}